body{
	margin : 0px;
	padding : 0px;

}

#screen{
	margin: auto;
	position : relative;
	top: 0px;
	left : 10%;
}

.cell{
	position:  absolute;
	top: 0px;
	left: 0px;
	border:  solid 1px black;
}

.black{
	background-color: black;
}