body{
	margin : 0px;
	padding : 0px;

}

#screenJeuDeLaVie{
	position: relative;
	margin : auto;
	top : 0px;
	left : 0px;
}

.cell{
	position:  absolute;
	top: 0px;
	left: 0px;
	border:  solid 1px black;
	background-color: white;
}

.black{
	background-color: black;
}